html, body, .container, .row{
	height: 100%;
}
body{
	background: url(../img/wallbambu.png), #D9FFDE;
}

/* ######## INDEX ######## */
span{
	display: block;

	padding-bottom: 10px;

	text-align: center;
}
@media (min-width: 768px){
	.index .row{
		display: flex;
			justify-content: start;
	}

	.index .banner{
		width: 49%;
		background-image: linear-gradient(to right, transparent 0%, #D9FFDE 100%), url('../img/wallpaper.jpg');
		background-size: cover;
	}
	.index .login{
		width: 49%;
		
		background-image: linear-gradient(to left, transparent 0%, #D9FFDE 100%);
	}

	.index form{
		width: 83%;
		
		margin: 0 auto;
	}

	.index .box_login{
		display: flex;
			align-items: flex-end;
			flex-direction: column;
	}
	.index .box_senha{
		display: flex;
			align-items: flex-end;
			flex-direction: column;

		padding-bottom: 10px;
	}
	.index .box_entrada{
		display: flex;
		justify-content: flex-end;

		clear: both;
		font-family: arial;
	}

	.index .login label{
		font-size: 30px;
	}
	.index .login input{
		width: 350px;

		padding: 3px;
	
		font-size: 18px;
		border-radius: 15px;
		border: 2px solid #5cb85c;
		text-align: center;
		color: #444;
	}
	.index .login button{
		margin-right: 10px;
		margin-bottom: 5px;

		float: right;
		border-radius: 15px;
		font-family: arial;
	}
	.index .box_entrada a{
		width: 190px;
	
		display: inline-block;
	
		text-align: center;
		font-size: 18px;
		border-top: 1px solid gray;
	}
}
@media (max-width: 768px){
	.index .banner{
		width: 100%;
		height: 25%;

		background-image: linear-gradient(to bottom, transparent 0%, #D9FFDE 100%), url('../img/wallpaper.jpg');
	}
	.index .login{
		width: 100%;
		height: 73%;
	}

	.index h1{
		margin: 0 !important;
	}
	.index form{
		width: 83%;
		
		margin: 0 auto;
		margin-top: 30px;
	}

	.index .login label{
		font-size: 30px;
	}
	.index button{
		margin-left: 10px;

		border-radius: 15px;
	}
	.index .box_entrada{
		display: flex;
			justify-content: space-around;

		height: 50px;

		margin-top: 10px;
		border-top: 1px solid gray;
	}
	.index .box_entrada a{
		display: inline-block;

		width: 150px;
		height: 30px;

		padding: 0 7px;
		margin: 10px 20px;

		font-size: 18px;
		border: 1px solid gray;
		border-radius: 15px;
		text-align: center;
	}
}
/* ######## INDEX ######## */


/* ######## inscrever ######## */
@media (min-width: 768px){
	.inscrever input:not(.genero){
		width: 50%;
	}
	.inscrever .data{
		width: 172px !important;
	}
}
.inscrever a{
	float: right;
}
.inscrever label{
	font-size: 18px;
}
.inscrever input{
	border: 2px solid #5cb85c;
}
/* ######## inscrever ######## */


/* ######## recuperar ######## */
.recuperar{
	margin-top: 10%;
}
.recuperar form{
	padding: 25px;

	background: #fff;
	border: 1px solid #6bc0de;
}
.recuperar input{
	border: none;
	border-bottom: 2px solid #5bc0de;
	background: transparent;
}
/* ######## recuperar ######## */

/* ######## msg_recuperar ######## */
.msg_recuperar{
	height: 200px;

	margin-top: 10%;
	padding: 25px;

	background: #fff;
	border: 1px solid #6bc0de;
}
.msg_recuperar h3{
	text-align: center;
}
.msg_recuperar a{
	display: block;

	margin-top: 40px;
}
/* ######## msg_recuperar ######## */

/* ######## painel ######## */

/* ######## painel ######## */